@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
* {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  padding: 10px;
  font-weight: bolder;
}

h2 {
  text-align: center;
  padding: 30px;
  font-weight: bold;
  font-size: 30px;
}

h3 {
  text-align: center;
  padding: 30px;
  font-weight: bold;
  font-size: 25px;
}

h4 {
  text-align: center;
  padding: 10px;
  font-weight: bolder;
  font-size: 20px;
}

h5 {
  text-align: center;
  padding: 30px;
  font-weight: bold;
  font-size: 20px;
}

ul {
  text-align: left;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 15px;
}

ul li a {
  color: black;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: bold;
}

.principal img {
  width: 100%;
}

header {
  position: inherit;
  top: 0;
  background-color: #c60202;
  color: black;
  height: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  justify-content: center;
}



body {
  background-color: $main-color;
  color: black;
  font-family: "Lora", serif;
}

main {
  background-color: $main-color;
  color: black;
  font-family: "Lora", serif;
}



/*estilo main index*/
.main-index {
  margin: 15px 20px;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

.slide {
  margin-top: 10px;
}

.slide img {
  height: 65vh;
}

/*estilo cursos*/
.main-cursos {
  width: 350px;
  height: 350px;
  margin: 15px 20px;
  padding: 20px;
}

/*estilo servicios*/
.main-servicios {
  margin: 15px 20px;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

/*estilo tienda*/
.main-tienda {
  width: 35px;
  height: 35px;
  margin: 15px 20px;
  padding: 20px;
}

form {
  width: 60%;
  margin: 20px auto;
  background-color: #c60202;
  padding: 20px;
}

/*estilo historia*/
.main-historia {
  margin: 15px 20px;
  padding: 20px;
  text-align: center;
}

.imagen-historia {
  max-width: 100%;
}