
header {
  position: inherit;
  top: 0;
  background-color: #c60202;
  color: black;
  height: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  justify-content: center;
  .principal img {
    width: 100%;
  }
}

body {
  background-color: $main-color;
  color: black;
  font-family: "Lora", serif;
  font-weight: 100;
  h1 {
    text-align: center;
    padding: 10px;
    font-weight: bolder;
  }
  
  h2 {
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-size: 30px;
  }
  
  h3 {
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-size: 25px;
  }
  
  h4 {
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
  }
  
  h5 {
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-size: 20px;
  }
  
  p {
    font-size: 18px;
    color: black;
    text-align: center;
    justify-content: center;
  }

  .carousel-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  main {
    background-color: $main-color;
    color: black;
    font-family: "Lora", serif;
    .main-index {
        margin: 15px 20px;
        padding: 20px;
        font-weight: 400;
        text-align: center;
      }
  }
  .slide {
    margin-top: 10px;
  }
  
  .slide img {
    height: 65vh;
  }
}