body{
.main-servicios {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20;
    margin-right: 20;
    padding: 20px;
    font-weight: lighter;
    text-align: center;
  }
  .imagen-historia {
    max-width: 100%;
  }
  p {
    font-size: 18px;
    color: black;
  }
}