body{
.main-servicios {
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 15px 20px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
  }
  .imagen-historia {
    max-width: 100%;
  }
}