body{
.main-tienda {
    width: 35px;
    height: 35px;
    margin: 15px 20px;
    padding: 20px;
  }
  form {
    width: 60%;
    margin: 20px auto;
    background-color: #c60202;
    padding: 20px;
  }
}